:root {
  --primary-color: #e46161;
  --secondary-color: #f1b963;
  --tertiary-color: #f8f398;
  --accent-color: #cbf078;
}

body {
  background-color: var(--secondary-color);
  font-family: "Inria Sans", sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
  color: var(--primary-color);
}

form {
  display: flex;
}

.form-container {
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: var(--tertiary-color);
}

.hint {
  line-height: 1.5;
  font-size: 13px;
  margin-top: 5px;
  color: var(--primary-color);
  opacity: 0.8;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: var(--primary-color);
}

.submit-button {
  margin-left: 10px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;
  width: 150px;
}

.poem {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 16px;
  padding: 20px;
  line-height: 2;
  border-left: 8px solid var(--accent-color);
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

strong {
  color: var(--secondary-color);
  font-weight: 900;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  font-weight: 700;
  transition: all 250ms ease-in-out;
}

a:hover {
  color: var(--tertiary-color);
}
